@mixin submit-button{
.submit-button{
    background-color: rgb(237, 125, 38);
    border: none;
    color: #fff;
    margin-top: 15px;
    padding: 15px 50px;
    transition: all 0.4s;

    &:hover{
        background-color: #ec7113;
    }
}
}